{% extends 'layout.twig' %}

{% block body %}
<main>
    <section class="error">
        <div class="bloc">
            <h1>Nous sommes désolés ...</h1>
            <p> La page que vous souhaitez afficher n'est pas disponible</p> 
            <a href="/">Remonter à la surface</a>
        </div>
    </section>
</main>

{% endblock %}