<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logos/quai_des_machines_logo_mini.svg" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/main.min.css">
    <title> Quai des Machines - {{ title }}</title>
</head>
<body>
  <div id="wrapper">
    {# HEADER #}
    
    <header class="header">
      <div class="wrap">
        <a class="header__logolink" href="/accueil">
            <picture class='img'>
              <source media="(min-width:1000px)" srcset="images/logos/quai_des_machines_logo_medium.svg"/>
              <img src="images/logos/quai_des_machines_logo_mini.svg" alt="" />
            </picture>
        </a>
        {# MAIN NAVIGATION #}
        <div class="header__boxnav">
          <nav class="header__nav">
            <a class="header__navlink header__navlink--accueil" href="/accueil">accueil</a>
            <a class="header__navlink" href="/carte-et-menu">carte et menu</a>
            <a class="header__navlink" href="/restaurant">le restaurant</a>
            <a class="header__navlink" href="/galerie">galerie</a>
            <a class="header__navlink" href="/contact-et-acces">contact et accès</a>
          </nav>
          <div class="header__ctas">
            <button class="header__btnresa">réserver</button>
            <div class="header__rs">
              <a class="header__rslink" href="#/">
                <img src="images/icons/icon-facebook.svg" alt="" />
              </a>
              <a class="header__rslink" href="#/">
                <img src="images/icons/icon-instagram.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <button class="header__burger">
          <ion-icon name="menu" class="header__burgericon"></ion-icon>
        </button>
      </div>
    </header>

  
    {% block body %}{% endblock %}
  


    {# NEWLETTER #}
    <section class="newsletter">
      <h3 class="newsletter__title">Gardez le contact avec Le Quai des Machines</h3>
  
      <div class="newsletter__blocText">
          <p class="newsletter__infos">
          Événements : envoi 1 fois par mois
          </p>
          <p class="newsletter__infos">
          Réduction : envoi ponctuel
          </p>
      </div>
      <form action="post">
        <input class="newsletter__inputmail" type="email" name="mail" id="mail" placeholder="votreadresse@mail.com"/>
      </form>
    </section>
  
    {# FOOTER #}
    <footer class="footer">
  
      <h2 class="footer__title">Quai des Machines</h2>
  
      <section class="footer__content">
        <div class="footer__infos">
          <div class="footer__schedules">
            <div class="footer__schedule">
              <p>Lundi au vendredi :&nbsp;</p>
              <p>11h45 - 14h et 18h - 22h</p>
            </div>
            <div class="footer__schedule">
              <p>Samedi :&nbsp;</p>
              <p>11h30 - 14h et 19h- 23h</p>
            </div>
            <div class="footer__schedule">
              <p>Dimanche :&nbsp;</p>
              <p>12h - 15h</p>
            </div>
          </div>
          <address class="footer__address">
            <a href="tel:+33251174989">+33 2 51 17 49 89</a>
            <a href="mailto:quaidesmachines@gmail.com">quaidesmachines@gmail.com</a>
          </address>
        </div>
  
        <nav class="footer__nav">
          <a href="#/">Carte et menu</a>
          <a href="#/">Le restaurant</a>
          <a href="#/">Galerie</a>
          <a href="#/">Contact</a>
        </nav>
  
        <nav class="footer__nav">
          <a href="#/">Mentions légales</a>
          <a href="#/">Politique de confidentialité</a>
          <a href="#/">Recrutement</a>
        </nav>
  
      </section>
      
      <div class="footer__separator"></div>
  
      <p class="footer__copyright">© Quai des Machines 2022</p>
  
    </footer>

  </div>

  <script src="javascripts/main.js" type="text/javascript"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  




</body>
</html>